%nav
  - Core.main_navigation_group_methods.each do |method|
    - public_send(method).each do |nav_group|
      - if nav_group[:items].present?
        .sidebar_group
          - if nav_group[:title]
            %h3= nav_group[:raw_title] ? nav_group[:title] : t(".#{nav_group[:title]}")
          = render_navigation items: nav_group[:items], expand_all: true
  = render_powered_by