%p="#{t('devise.mailer.hello')}, #{@resource.fullname}"
%p=t('devise.mailer.set_password_instructions.body1')
%p=link_to t('devise.mailer.set_password_instructions.link'), edit_password_url(@resource, reset_password_token: @resource.reset_password_token, host: OnApp.configuration.system_host)
%p=t('devise.mailer.set_password_instructions.body2')
